.px1 {
    padding: 0 2rem;
}

.mt2 {
    margin-top: 2rem;
}

.todo {
    margin-top: 10px;
}

.todo label {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    background: #f8f8f8;
    cursor: pointer;
}

.activeTodo span {
    text-decoration: line-through;
}